@font-face {
    font-family: 'content';
    src: url('../fonts/方正清刻本悦宋简体.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'title';
    src: url('../fonts/方正北魏楷书繁体.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;

}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

#footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#footer p {
    font-family: Arial;
    font-size: 1em;
    color: white;
}

img {
    width: 60%;
}

/* Custom CSS
 * --------------------------------------- */
body{
    font-family: arial,helvetica;
    /*color: #F2F2F2;*/
    width: 100%;
}
h1{
    font-size: 3em;
    color: black;
    font-family: 'title';
}
p{
    font-size: 1em;
    color: black;
    font-family: 'content';
}
.content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}


@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

.Rotation{
    -webkit-transform: rotate(360deg);
    animation: rotation 10s linear infinite;
    -moz-animation: rotation 10s linear infinite;
    -webkit-animation: rotation 10s linear infinite;
    -o-animation: rotation 10s linear infinite;
}

#start-btn {
    position:absolute;
    width:100%;
    text-align: center;
    font-size: 25px;
    z-index: 2;
    top:40%;
}
/*.cloud {*/
    /*transform: 100px 100px;*/
/*}*/
@-webkit-keyframes transform{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
.transition-cloud {
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;

}


.flip-horizontal {
     -moz-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
     -o-transform: scaleX(-1);
     transform: scaleX(-1);
}

#start {
    /*background-color: rgb(197, 8, 25);*/
}



/*@media(max-width: 1060px) {*/
    /*#primary { width:67%; }*/
    /*#secondary { width:30%; margin-left:3%;}*/
/*}*/

/*@media(max-width: 768px) {*/
    /*#primary { width:100%; }*/
    /*#secondary { width:100%; margin:0; border:none; }*/
/*}*/

/*@media(max-width: px) {*/
    /*#primary { width:100%; }*/
    /*#secondary { width:100%; margin:0; border:none; }*/
/*}*/

@media (min-width: 768px){
    #up-img {
        display: block;
    }
    #down-img {
        display: block;
    }
    h1{
        font-size: 6em;
    }
    p{
        font-size: 3em;
    }
    img {
        width: 60%;
    }
    #footer p {
        font-size: 30px;
        color: white;
    }
}
@media (min-width: 992px){
    #up-img {
        display: none;
    }
    #down-img {
        display: none;
    }
    h1{
        font-size: 6em;
    }
    p{
        font-size: 2em;
    }
    img {
        width: 25%;
    }
    #footer p {
        font-size: 1em;
        color: grey;
    }
}
@media (min-width: 1200px){
    #up-img {
        display: none;
    }
    #down-img {
        display: none;
    }
    h1{
        font-size: 3em;
    }
    p{
        font-size: 2em;
    }
    img {
        width: 25%;
    }
    #footer p {
        font-size: 1em;
        color: grey;
    }
}